<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/skeleton.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiter Availabity</title>
  </head>
  <body>
      {{{body}}}
      <script src="/script.js"></script>
 </body>
 </html>