<h1>Admin</h1>

<form action="/days" method="get">
      <button class="button-primary" type="submit" name="button">Home</button> </form>


     <table>
            {{#each getDay}}
        
            <th> {{ this.day }} </th> 
        
        {{/each}}
</table>
        
    </table>
    <form action="/resetDB" method="POST">
      <button class="button-primary" type="submit" name="button">Reset</button> </form>

</div>