<h1>Admin</h1>

    <table>
    <tr>
        {{#each admin}}
        <th>
            {{day}}
        </th>
        {{/each}}
    </tr>
    <tr>
        {{#each admin}}
        <td>
            <ul>
                {{#each waiter}}
               <li> {{this}} </li> 
                {{/each}}
            </ul>
        </td>
        {{/each}}
    </tr>
</table>