<h1> WAITERS AVAILABLE </h1>

<div class="container"> 

  <form action="/waiters/{{waiter}}" method="POST">

  

<div  class="days"></div>
  <input type="checkbox" name="day" value="Mon"> Monday<br>
  <input type="checkbox" name="day" value="Tue"> Tuesday<br>
  <input type="checkbox" name="day" value="Wed"> Wed<br>
  <input type="checkbox" name="day" value="Thu"> Thursday<br>
  <input type="checkbox" name="day" value="Fri"> Friday<br>
  <input type="checkbox" name="day" value="Sat"> Saturday<br>
  <input type="checkbox" name="day" value="Sun"> Sunday<br>
  <button class="button-primary GreetBtn" type="submit" name="button">Enter</button>

</div>
</form>


      <a href='/days'>view admin</a>





</div>