<h1> WAITERS AVAILABLE </h1>

<div class="container"> 

  <form action="/waiters/{{waiter}}" method="POST">

  </form>

<div  class="days"></div>
<form action="/days">
  <input type="checkbox" name="day" value="Mon"> Monday<br>
  <input type="checkbox" name="day" value="Tues"> Tuesday<br>
  <input type="checkbox" name="day" value="Wed"> Wed<br>
  <input type="checkbox" name="day" value="Thu"> Thursday<br>
  <input type="checkbox" name="day" value="Fri"> Friday<br>
  <input type="checkbox" name="day" value="Sat"> Saturday<br>
  <input type="checkbox" name="day" value="Sun"> Sunday<br>
  <button class="button-primary GreetBtn" type="submit" name="button">Enter</button>
</form>
</div>





</div>