<div class="container"> 


<form action="/days">
  <input type="day" name="vehicle" value="Mon"> Monday<br>
  <input type="day" name="vehicle" value="Tues"> Tuesday<br>
  <input type="day" name="vehicle" value="Wed"> Wed<br>
  <input type="day" name="vehicle" value="Thu"> Thursday<br>
  <input type="day" name="vehicle" value="Fri"> Friday<br>
  <input type="submit" value="Submit">
</form>






</div>